.logo {
    padding: 20px;
}

.error .error-message {
    color: $red;
}

.mini-sidebar {
    .user-profile {
        padding: 0;

        .logo {
            padding: 10px;
        }
    }

    .sidebar-nav {
        .nav-devider {
            margin: 0;
        }
    }
}

.dataTables_wrapper, .dataTables_paginate {
    li {
        &.active a {
            color: $white;
        }

        a {
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            text-align: center;
            cursor: pointer;
            color: #67757c;
            border: 1px solid $light-grey;
        }

        &.page-filter select{
            min-height: 42px;
        }
    }
}


.modal-header {
    background-color: $blue;

    h4, .close {
        color: $white;
    }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }

    .close {
        cursor: pointer;
    }
}

.dropdown-menu {
    z-index: 10;
}
