.checkout-header-margin{
    margin-top: 50px;
}

.checkout-footer-margin{
    margin-bottom: 50px;
}
#checkout-form .form-control .card-expiration {
    border: 1px solid #bbbbbb;
    text-align: center;
}

.error, .error-message{
	color: red;
}